.headerBar {
  display: block;
  height: 50px;
  line-height: 54px;

  padding-left: 5%;
  padding-right: 5%;

  border-bottom: 1px solid #e8e8e8;
}
.site-title {
  color: #000;
  float: left;

  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin-left: 15px;
  text-decoration: none;

  border: none;
  outline-style: none;
  -moz-outline-style: none;
}
.site-title:hover {
  text-decoration: underline;
  color: #000;
}

.headerBar > div:nth-child(2) {
  display: block;
  float: right;
  text-align: right;

  margin-right: 25px;
}
  

ul.header li {
  display: inline;
  list-style-type: none;
}
ul.header {
  padding: 0;
  margin: 0;
  float: right;
}
ul.header li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;

  background-color: transparent;

  border: none;
  outline-style: none;
  -moz-outline-style: none;
}
ul.header li a:hover {
  text-decoration: underline;
}

.content {
  background-color: #FFF;
  padding: 20px;

  margin: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.App-logo {
  height: 80%;
  display: block;
  float: left;
  margin-left: 25px;
  margin-top: 3px;
}
 
.forkMe {
  position: absolute;
  left: 0px;
  top: 0px;
  outline: 0;
}

.forkMe img {
  height: 100px;
}
