.metrics_container {
    float: left;
    width: 33%;
    margin-top: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
}

.metrics_container > p {
    margin-bottom: 5px;
}
.item_metrics_container:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 75px;
}

.coverage_container {
    box-shadow: 10px 10px 5px #cacaca;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}