#metrics_bar {
    width: 60%;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    height: 36px;
    margin-bottom: -46px;
  }
#metrics_bar > div{
width: 1%;
border-radius: .25rem;
height: 100%;
background-color: rgb(255, 0, 0);
text-align: center; /* To center it horizontally (if you want) */
line-height: 35px; /* To center it vertically */
color: #495057;
font-size: 14px;
white-space: nowrap;
}