h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    text-shadow: 3px 3px 2px #cacaca;
}


.metrics {
    padding-bottom: 25px;
}
.metrics > h1 {
    font-size: 2.625rem;
    letter-spacing: -1px;
    line-height: 1.15;
    padding-bottom: 25px;
}
.metrics h3 {
    font-size: 1.625rem;
}
.metrics h6 {
    font-size: 1.0625rem;
}
.metrics #metrics_bar {
    width: 100% !important;
}