// * {
// 	margin: 0;
// 	padding: 0;
// }

// html, body, #root {
// 	width: 100%;
// 	height: 100%;
// 	background: rgb(60,60,60);
// 	display: flex;
// }

.demo-link {
  padding: 0.5rem 1rem;
  a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
}