.legend_column {
    position: relative;
    float: right;
    font-size: 12px;
    width: 200px;
    margin-right: 264px;
    margin-bottom: -52px;
    text-shadow: 3px 3px 2px #cacaca;
    text-align: right;
}
.legend_group p {
    margin: 0px;
}
.legend_icon {
    float: right;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: 6px;
    border-style: solid;
    border-width: 1px;
}